<!DOCTYPE html>

<html>
<head>

    <title>@ViewBag.Title</title>
    <link href="~/Content/CssHome/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
    <script src="~/Content/CssHome/js/jquery-1.11.0.min.js"></script>
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="~/Content/CssHome/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <script src="~/Content/CssHome/js/simpleCart.min.js"> </script>
    <link href="~/Content/CssHome/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/CssHome/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!--dropdown-->
    <script src="~/Content/CssHome/js/jquery.easydropdown.js"></script>
    <script src="~/Content/CssHome/js/LienHe.js"></script>
    <!--google font-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Arimo&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

</head>

<body>
    <!--top-header-->
    @Html.Partial("~/Views/Layout/Header.cshtml")
    <!--top-header-->
    <!--start-logo-->
    <div class="logo">
        <a href="@Url.Action("Index","Home")"><h1>Shop H&L</h1></a>
    </div>
    <!--start-logo-->
    <!--bottom-header-->
    <div class="header-bottom">
        <div class="container">
            @Html.Action("MenuPartial", "Home")
        </div>
    </div>
    <!--end-breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
    <!--register-starts-->
    @RenderBody()
    <!--register-end-->
    <!--information-starts-->
    @Html.Partial("~/Views/Layout/Footer.cshtml")
    <!--footer-end-->
</body>
</html>