
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/CssHome/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
    <script src="~/Content/CssHome/js/jquery-1.11.0.min.js"></script>
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="~/Content/CssHome/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <script src="~/Content/CssHome/js/simpleCart.min.js"> </script>
    <link href="~/Content/CssHome/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/CssHome/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!--dropdown-->
    <script src="~/Content/CssHome/js/jquery.easydropdown.js"></script>
</head>
<body>
    <!--top-header-->
    @Html.Partial("~/Views/Layout/Header.cshtml")
    <!--top-header-->
    <!--start-logo-->
    <div class="logo">
        <a href="@Url.Action("Index","Home")"><h1>Shop H&L</h1></a>
    </div>
    <!--start-logo-->
    <!--bottom-header-->
    <div class="header-bottom">
        <div class="container">
            @Html.Action("MenuPartial", "Home")
            </div>
        </div>
            <!--banner-starts-->
                @Html.Partial("~/Views/Layout/Banner.cshtml")
           
            <!--banner-ends-->
            <!--Slider-Starts-Here-->
            <script src="~/Content/CssHome/js/responsiveslides.min.js"></script>
            <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                        auto: true,
                        pager: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });

                });
            </script>
            <!--End-slider-script-->
            <!--about-starts-->
            <!--about-end-->
            <!--product-starts-->
            <div class="product">
 
                    @RenderBody()
               
            </div>
            <!--product-end-->
        @Html.Partial("~/Views/Layout/Footer.cshtml")
</body>
</html>